@import "./grid/bootstrap";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "global";
@import "typography";
@import "btn";



body {
  background: $white;
}


.card-c {
  background: $light-gray;
  padding: 2rem;
  display: flex;
  align-items: flex-start;

  &__icon {
    font-size: 3rem;
    color: $dark-gray;
  }

  &__content {
    margin: 0 2rem;
  }
}